<form action='/articles/<%= @article.id %>' method='post'>
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label for="title"> Post title: </label>
    <input type='text' name='post[title]' id='title' value="<%= @article.title %>">
    <label for="title"> Content: </label>
    <input type='text' name='post[content]' id='content' value="<%= @article.content %>">
    <input type='submit' value='Submit' id='Submit'>
</form>